<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

  
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=tcp:ctcowq049d.database.windows.net,1433;Database=websit_db;User ID=raviteja@ctcowq049d;Password=ravi@123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
    <add name="abc" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\WorkPlace\Ordinateurs\App_Data\sample.mdf;Integrated Security=True" />
    <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\sample.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>


    <system.web>
  
    <compilation debug="true" targetFramework="4.5"/>
      <httpRuntime targetFramework="4.5"/>
      <customErrors mode="Off"/>
    
      </system.web>
 
    </configuration>